header{
    background-color: #fff!important;
}

.nav-menu{
    background-color: #00AF68!important;
}
.city{
font-family: Source Sans Pro;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
color: #282828;
}
.buy {
    background: url(../img/Rectangle_white.jpg), #C4C4C4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#slider > li {
    list-style-image: url(../img/Forward_white.png);
}
.geo{
    filter: invert(1);
}
#slider-wrapper{
    background-color:#fff;  
}
.h2-slider-home{
    color: #282828;
}
#slider li {
    color: #282828;
}
.seporator-vertic{
    border-left: 1px solid #282828;
}
.filter-dark{
    background-color: rgba(0, 0, 0, 0.8);
}
.filter {
    background-color: rgba(255, 255, 255, 0.8);
    /* height: 650px; */
}
.au-info-title , .item-title{
    color: #282828;
}
.item svg{
    filter: invert(1);
}
footer{
    background-color: #fff;
}
footer{
    color: #282828;
}
.footer-title-dark , .footer-dec-dark ,.footer-tel-dark a ,.footer-nav-item-title , .footer-links{
    color: #282828;
}
.form-buy .form-control {
    background: #fff!important;
    border: 1px solid #EDF1F2!important;
    box-sizing: border-box;
}
#singl-wrap-bg {
    background: unset!important;
}

/* span, h2 ,h3 ,h4, p {
    color: #282828;
} */
h2{
    color: #282828!important;
}
section.auction, .cart-list,.add-auction,.h-88{
    background-color: #fff;

}
 section.auction.container-fluid > div > div.auction-top-nav > nav > div > ul > li > a > span,#headingOne a,.min-title-auk,.cart-header-title,.dropdown-toggle ,.add-auction h3{
    color: #282828;
}
.form-car{
    background-color: unset;
}
span.name-auto:hover{
    color: #00AF68!important;
}
.auction a:hover{
    color: #00AF68!important;
}
header a:hover {
    color: rgb(255, 255, 255);
}
#headingOne path{
    fill: #000;
}
.settings-param{
    background-color: unset!important;
   
}

.form-car-item input{
    opacity: 1;
}
.form-car-item span{
    opacity: 1;
}
.form-car-item select{
    opacity: 1;
}
#collapseOne a.nav-link{
    color: #282828!important;
}

.mailer input {
border: solid 1px #dee2e6;
background-color: unset!important;
}
@media screen and (max-width: 768px){
    #auc-wrap-parametr-three > div.setting-hide > div.setting-hide-one > div > div > div > div> label{
        color: #282828!important;
    }
    .settings path{
        fill: #282828!important;
        opacity: 1;
    }
    #auc-wrap-parametr-three > div.setting-hide > div.settings > div.settings-params.row.m-0 > span.settings-param.btn-set > svg path{
        fill: #282828!important;
        stroke:#282828!important;
    }
    #auc-wrap-parametr-three > div.setting-hide > div.settings > div.settings-params.row.m-0 > span.settings-param.btn-set > svg circle{
        fill: #282828!important;
        stroke:#282828!important;
    }
    .settings span{
        color: #282828!important;
    }
}
.pagination a{
    color: #282828!important;
}
.pagination path{
    stroke: #282828!important;
}
.pagination path:hover{
    stroke: #00AF68!important;
  }
  .pagination a:hover{
    color: #00AF68!important;
}
.form-car-item input::placeholder{
    background: unset;
}
